{% extends "base.html" %}  {# ----------------------extends继承模板------------------------------ #}
{% block content %}



  {# -------------------------------搜索表单------------------------------ #}
  <div id="header-search-box">
    ...
    <form role="search" method="get" id="searchform" action="/bjlist_s">
      {% csrf_token %}
        <li>搜索关键字：<img src="static/img/loading.gif" alt="加载！" ></li>
      <input type="search" name="q" placeholder="Search" required>
      <input type="submit" , value="搜索"><span class="ion-ios-search-strong"></span></input>
    </form>
    ...
  </div>


<h2>淘宝商品信息</h2>      {# ----------------------------数据展示模板----------------------------- #}
<table border="2">
    <tr>
         <td>t</td>
        <td>女排名</td>
        <td>name</td>
        <td>id</td>
        <td>排名</td>
        <td>follower</td>
        <td>swatch</td>
        <td>建立时间</td>
        <td>最后时间</td>
        <td>最后访问</td>
        <td>其他</td>
        <td>网址</td>
        <td>img</td>
        <td>创建时间</td>
    </tr>

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}
{% for bj in bj_list %}             {# -------------循环数据库表内容：以关键词进行索引------------ #}
<tr>
    <td><img src="static/img/run.png" border=0></td>
    <td> {{ bj.bj_f_rank }}</td>
    <td> {{ bj.bj_name  }}</td>
    <td> {{ bj.bj_id }}</td>
    <td> {{ bj.bj_rank_all }}</td>
    <td> {{ bj.bj_follower }}</td>
    <td> {{ bj.bj_swatch }}</td>
    <td> {{ bj.bj_last_time }}</td>
    <td> {{ bj.bj_last_visit }}</td>
    <td> {{ bj.bj_last_up }}</td>
    <td> {{ bj.bj_info_bs }}</td>
    <td><a href="{{ bj.bj_url }}">主页</a></td>
    <td><img src="{{ bj.img }}" width="80" height="80"></td>
    <td> {{ bj.bj_infoDate }}</td>
</tr>                             {# 数据库表字段 #}

    {% empty %}
    <div class="no-post">暂时还没有数据！</div>
  {% endfor %}
{% endblock main %}

  </table>

<div align="center"><img src="static/img/4.png"></div>  {#---居中---#}
{% endblock %}