{% extends "base.html" %}  {# ----------------------extends继承模板------------------------------ #}
{% load pagetag %}          {# ----------------------将会载入给定模块名中的标签/过滤器------------------------------ #}
{% block content %}  {# block 标签是可以被继承者们替换掉的部分。所有的  block  标签告诉模板引擎，子模板可以重载这些部分。此html 中继承 base.html，并替换了base里面 的‘block content’ #}

<div>
<li><a class="icon" href="/download_bj/" target="dwzExport" targetType="navTab" title="确定要导出这些记录吗？">
    <span>导出CSV文件</span></a></li>  {# -------------------------------导出按钮------------------------------ #}
<li></li>
<li><a class="icon" href="/upload/" target="dialog" mask="true" width="500", height="300", title="导入CSV文件" rel="uploadfileresource">
    <span>导入CSV文件</span></a></li>   {# -------------------------------导入按钮------------------------------ #}
</div>


  {# -------------------------------搜索表单------------------------------ #}
  <div id="header-search-box">
    ...
    <form role="search" method="get" id="searchform" action="/bjlist_s">
      {% csrf_token %}
      <li>搜索关键字：<img src="static/img/loading.gif" alt="加载！" ></li>
      <input type="search" name="q" placeholder="Search" required>
      <input type="submit" , value="搜索"><span class="ion-ios-search-strong"></span></input>
    </form>
    ...
  </div>

<h2><i>BJ信息:</i></h2>      {# ----------------------------数据展示模板----------------------------- #}
<table border="2">
    <tr>
         <td>t</td>
        <td>女排名</td>
        <td>name</td>
        <td>id</td>
        <td>排名</td>
        <td>follower</td>
        <td>swatch</td>
        <td>建立时间</td>
        <td>最后时间</td>
        <td>最后访问</td>
        <td>其他</td>
        <td>网址</td>
        <td>img</td>
    </tr>
{% for bj in bjs %} {# 循环数据库表内容,object_list 包含所有bj对象的变量。 #}
<tr>
    <td><img src="static/img/run.png" border=0></td>
    <td> {{ bj.bj_f_rank }}</td>
    <td> {{ bj.bj_name  }}</td>
    <td> {{ bj.bj_id }}</td>
    <td> {{ bj.bj_rank_all }}</td>
    <td> {{ bj.bj_follower }}</td>
    <td> {{ bj.bj_swatch }}</td>
    <td> {{ bj.bj_last_time }}</td>
    <td> {{ bj.bj_last_visit }}</td>
    <td> {{ bj.bj_last_up }}</td>
    <td> {{ bj.bj_info_bs }}</td>
    <td> {{ bj.bj_url }}</td>
    <td><img src="{{ bj.img }}" width="80" height="80"></td>
</tr>  {# 数据库表字段 #}
{% endfor %}
             </table>

        
            
<nav aria-label="Page navigation">        {# --------------------分页------------------ #}
  <ul class="pagination">
      {% if bjs.has_previous %}         {# 如果bjs有上一页，，显示上一页箭头且修改地址#}
          <td>
              <a href="?page={{ bjs.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
          </td>
      {% endif %}


      {%  for pg in bjs.paginator.page_range %}             {# ---------page_range页码的范围-------- #}
                   {# - {% circle_page bjs.number pg %}--------page_range页码的范围：传入当前页码和循环页码---引用pagetag-------------------另一种方法-- #}
           {% if bjs.number == pg %}
               <td class="active"><a href="?page={{ pg}}">-{{ pg }}-</a></td>    {# ---------当前页码高亮-------- #}
        {% else %}
               <td><a href="?page={{ pg}}">-{{ pg }}-</a></td>
        {% endif %}
      {% endfor %}


      {% if bjs.has_next %}                  {# 如果bjs有下一页，，显示下一页箭头且修改地址 #}
        <td>
          <a href="?page={{ bjs.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </td>
    {% endif %}
  </ul>
</nav>

<div align="center"><img src="static/img/4.png"></div>  {#---居中---#}


{% endblock %}

