{% extends "base.html" %}  {# ----------------------extends继承模板------------------------------ #}
{% block content %}



  {# -------------------------------搜索表单------------------------------ #}
  <div id="header-search-box">
    ...
    <form role="search" method="get" id="searchform" action="/tblist_s">
      {% csrf_token %}
        <li>搜索关键字：<img src="static/img/loading.gif" alt="加载！" ></li>
      <input type="search" name="q" placeholder="Search" required>
      <input type="submit" , value="搜索"><span class="ion-ios-search-strong"></span></input>
    </form>
    ...
  </div>


<h2>淘宝商品信息</h2>      {# ----------------------------数据展示模板----------------------------- #}
<table border="2">
    <tr>
         <td>t</td>
        <td>搜索名</td>
        <td>id</td>
        <td>标题</td>
        <td>价格</td>
        <td>销量</td>
        <td>网址</td>
         <td>图</td>
        <td>创建时间</td>
    </tr>

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}
{% for info in info_list %}             {# -------------循环数据库表内容：以关键词进行索引------------ #}
<tr>
    <td><img src="static/img/run.png" border=0></td>
    <td> {{ info.s_name }}</td>
    <td> {{ info.ids  }}</td>
    <td> {{ info.titles }}</td>
    <td> {{ info.price }}</td>
    <td> {{ info.selas }}</td>
    <td> {{ info.url }}</td>
    <td><img src="{{ info.pi_url }}" width="80" height="80"></td>
    <td> {{ info.infoDate }}</td>
</tr>                             {# 数据库表字段 #}

    {% empty %}
    <div class="no-post">暂时还没有数据！</div>
  {% endfor %}
{% endblock main %}

  </table>

<div align="center"><img src="static/img/4.png"></div>  {#---居中---#}
{% endblock %}