{% extends "base.html" %}  {# ----------------------extends继承模板------------------------------ #}
{% block content %}   {# ----------------------继承模板里面的那个地方------------------------------ #}
<body>
<table border="2">
    <tr>
          <td>id</td>
          <td>用户名</td>
          <td>管理权限</td>
          <td>编辑</td>
    </tr>
    <tr>
        {% for row in li %}
          <td>{{ row.id }}</td>
          <td>{{ row.username }}</td>
          <td>{{ row.user_type.caption }}</td>
          <td><a href="/edit-{{ row.id }}">编辑</a></td>
        {% endfor %}
    </tr>
    </table>
</body>
{% endblock %}