{% extends 'admin/app.html' %}
{% block title %} Django-CMS 错误提示{% endblock %}
{% block content %}
<body>

    <div class="error-container">
        <div class="well">
            <h1 class="grey lighter smaller">
                <span class="blue bigger-125">
                    <i class="icon-sitemap"></i>
                    错误提示
                </span>
                {{ error }}
            </h1>

            <hr />
            <h3 class="lighter smaller">请确认您的数据是否有效</h3>

            <hr />
            <div class="space"></div>

            <div class="center">
                <a href="#" class="btn btn-grey" onclick="history.back();return false;">
                    <i class="icon-arrow-left"></i>
                    返　回
                </a>
            </div>
        </div>
    </div><!-- PAGE CONTENT ENDS -->
</body>
{% endblock %}